body {
	background-color: #cfc7c4;
	max-height: 100vh;
	max-width: 100vw; 

}

.paper {
	background-image: url("looseleafpic.png");
	background-repeat: none;
	background-size: cover;
}

.overlay {
	background-color: white;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	position: fixed;
	opacity: 60%;
	filter: blur(10px);

}

.goaway {
	animation: goaway 1s forwards;
}

.blur {
	filter: blur(10px);
}

h1 {
	position: fixed;
	margin-right: 10%;
	margin-left: 20%;
	margin-top: 20%; 
	font-family: 'Homemade Apple', sans-serif;
	font-size: 100px;
	z-index: 3;
	opacity: 100%;
}
button {
	align-items: center;
	justify-content: center;
	margin-right: 20%;
	margin-left: 45%; 
	padding: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	letter-spacing: 0.5px;
	width: 150px;
	border-radius: 25px;
	background-color: transparent;
}

#click {
	margin-top: 2%;
}

button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

/*h1 {
	position: absolute;
	text-align: center;
	vertical-align: center;
	top: 25px;
	left: 25%;
	right: 15%;
	width: auto;
	font-family: 'Titillium Web', sans-serif;
	font-size: 36px;
}
*/
h2 {
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;

}

div.gallery {
	max-height: 100vh;
/*	margin-left: 800px;*/
	display: flex;
	position: sticky;
	/*-webkit-animation-name: move;
  	-webkit-animation-duration: 4s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-direction: left;
  	-webkit-animation-timing-function: linear;*/

}

/*.gallery:hover {
  -webkit-animation-play-state: paused;
}*/

div.scroll {
	display: flex;
	overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
	opacity: 50%;
	position: fixed;
}


div.container { 
	max-height: 2.5rem;
	padding: 0.5rem;
	height: 2rem;
	border: 1.5px solid black;
	border-radius: 25px;

}

div#details {
	display: flex;
	flex-direction: row;
	object-fit: cover;
	max-height: 100vh;
	justify-content: space-around;
	align-items: center;
	vertical-align: center;
}

#info {
	display: none;
}

#info.show {
	display: block;
}

img {
	width: auto;
	height: 700px;
	
	/*border-bottom: 20px solid black;*/
	
}
.chosen {
	background-color: black;
}


li {
	border-color: black;
	list-style-type: none;
	margin: 50px;
}

/*ul {
	display: flex;
	overflow-x: scroll;
}*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes move {
  0% {
    margin-right: 1000px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes goaway {
	0% {
		display: block;
		opacity: 100%;
		height: 100vh;
	
	}
	100% {
		display: none;
		opacity: 0%;
		height: 0vh;
	}
}



